<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Profile</title>
</head>
<body>
    <form action="" method="post">
        <div class="frame_info_2_column">
            <div class="frame_info_column_1">
                <div class="student_id">
                    <span class="label">Student ID</span>
                    <br>
                    <input type="text" class="input_info" value="21127648">
                </div>
                <div class="full_name">
                    <span class="label">Full name</span>
                    <br>
                    <input type="text" class="input_info" value="Nguyen Nhat Nam">
                </div>
                <div class="date_of_birth">
                    <span class="label">Date of birth</span>
                    <br>
                    <input type="text" class="input_info" value="24/11/2003">
                </div>
            </div>
            <div class="frame_info_column_2">
                <div class="email">
                    <span class="label">Email</span>
                    <br>
                    <input type="text" class="input_info" value="ngnhatnam24@gmail.com">
                </div>
                <div class="phone_number">
                    <span class="label">Phone number</span>
                    <br>
                    <input type="text" class="input_info" value="0354422665">
                </div>
                <div class="country">
                    <span class="label">Country</span>
                    <br>
                    <input type="text" class="input_info" value="Vietnam">
                </div>
            </div>
            
        </div>
        <div class="address">
            <span class="label">Address</span>
            <br>
            <input type="text" class="input_info" value="227 Nguyen Van Cu, District 5, Ho Chi Minh city">
        </div>
        <button class="my_button" >Update Profile</button>                        
    </form>
</body>
</html>