<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/create_product.css">
    <!-- <link rel="stylesheet" href="mau.css"> -->

    <title>Create New Product</title>
</head>

<body>
    <div id="alert"></div>
    <div class="container tm-mt-big tm-mb-big fix-center">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block title">Add Product</h2>
                        </div>
                    </div>
                    <form class="tm-edit-product-form" enctype="multipart/form-data" id="myForm">

                        <div class="row tm-edit-product-row">

                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group mb-3">
                                    <label for="name">Product Name
                                    </label>
                                    <input id="name" name="name" type="text" class="form-control validate" required=""
                                        placeholder="Shirt, t-shirts, etc.">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="description">Description</label>
                                    <textarea id="description" class="form-control validate" rows="3" required=""
                                        placeholder="Type your description..."></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="hidden" id="catalogId" name="catalogId" value="">
                                    <label for="category">Category</label>
                                    <select class="custom-select tm-select-accounts" id="catalogId-select" required>
                                        <option value="" selected="">Select category</option>
                                        <% for(let i=0; i < catalogList.length; i++){ %>
                                            <option value="<%= catalogList[i]._id %>">
                                                <%= catalogList[i].name %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="price">Price
                                        </label>
                                        <input id="price" name="price" type="number" autocomplete="off"
                                            class="form-control validate hasDatepicker" data-large-mode="true" required
                                            min="0" placeholder="0.00">
                                    </div>
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="discount">Discount(%)
                                        </label>
                                        <input id="discount" name="discount" type="number" autocomplete="off"
                                            placeholder="0" class="form-control validate hasDatepicker"
                                            data-large-mode="true" required min="0" max="100">
                                    </div>

                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                                <div class="row">
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <input type="hidden" id="status" name="status" value="">

                                        <label for="stock">Status
                                        </label>
                                        <select class="custom-select tm-select-accounts" id="status-select" required>
                                            <option value="" selected="">Select status</option>
                                            <option value="In Stock">In Stock</option>
                                            <option value="Pre Order">Pre Order</option>
                                            <option value="Out of Stock">Out of Stock</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <input type="hidden" id="manufacturer" name="manufacturer" value="">

                                        <label for="name">Manufacturer
                                        </label>
                                        <select class="custom-select tm-select-accounts" id="manufacturer-select"
                                            required>
                                            <option value="" selected="">Select</option>
                                            <option value="NIKE">Nike</option>
                                            <option value="ADIDAS">Adidas</option>
                                            <option value="PUMA">Puma</option>
                                            <option value="REEBOK">ReeBok</option>
                                            <option value="NEW BALANCE">New Balance</option>
                                            <option value="GARMIN">Garmin</option>
                                            <option value="YONEX">Yonex</option>
                                            <option value="UNDER ARMOUR">Under Armour</option>
                                            <option value="VICTOR">Victor</option>
                                            <option value="MIZUNO">Mizuno</option>
                                        </select>
                                    </div>

                                    <!-- <div class="tm-product-img-dummy mx-auto mt-3">
                                        <i class="fas fa-cloud-upload-alt tm-upload-icon"
                                            onclick="document.getElementById('fileInput').click();"></i>
                                    </div> -->
                                    <div class="custom-file mt-3 mb-2">
                                        <input name="thumbnail" id="thumbnail" class="btn btn-primary btn-block mx-auto"
                                            type="file" style="display:none;" accept="image/*">
                                        <input type="button" class="btn btn-primary btn-block mx-auto"
                                            value="UPLOAD THUMBNAIL"
                                            onclick="document.getElementById('thumbnail').click();">
                                    </div>
                                    <div id="thumbnailState" class="mt-3">
                                    </div>


                                    <div class="custom-file mt-3 mb-10">
                                        <input name="gallery" id="gallery" type="file" style="display:none;"
                                            accept="image/*" multiple>
                                        <input type="button" class="btn btn-primary btn-block mx-auto"
                                            value="UPLOAD GALLERY"
                                            onclick="document.getElementById('gallery').click();">
                                    </div>

                                    <div id="galleryState" class="mt-3">
                                    </div>
                                </div>

                            </div>

                            <div class="col-12">
                                <button id="button-submit" type="submit"
                                    class="btn-submit btn-submit-primary btn-block text-uppercase">Add
                                    Product
                                    Now</button>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
    <script>


        const myForm = document.querySelector("#myForm");

        const uploadThumbnail = document.querySelector("#thumbnail");
        const thumbnailState = document.querySelector("#thumbnailState");

        const uploadGallery = document.querySelector("#gallery");
        const galleryState = document.querySelector("#galleryState");

        const price = document.querySelector("#price");

        const manufacturerSelect = document.querySelector("#manufacturer-select");
        const manufacturer = document.querySelector("#manufacturer");

        const statusSelect = document.querySelector("#status-select");
        const status = document.querySelector("#status");

        const catalogIdSelect = document.querySelector("#catalogId-select");
        const catalogId = document.querySelector("#catalogId");

        const btnSubmit = document.querySelector("#button-submit");

        const name = document.querySelector("#name");
        const description = document.querySelector("#description");
        const discount = document.querySelector("#discount");




        const buttonSubmit = document.querySelector("#button-submit");

        let thumbnail;
        let gallery = [];
        let num = 0;

        catalogIdSelect.addEventListener("change", () => {
            catalogId.value = catalogIdSelect.value;
            console.log(catalogIdSelect.value);
        })

        manufacturerSelect.addEventListener("change", () => {
            manufacturer.value = manufacturerSelect.value;
            console.log(manufacturerSelect.value);
        })

        statusSelect.addEventListener("change", () => {
            status.value = statusSelect.value;
            console.log(statusSelect.value);
        })

        uploadThumbnail.addEventListener("change", async (e) => {
            const files = uploadThumbnail.files;
            console.log(files);
            // if (files.length > 0) {

            //     thumbnailState.textContent = `Update file: ${rutgon(files[0].name)}`;
            //     thumbnailState.style.color = `#000000`;
            //     thumbnailState.style.fontWeight = "300";
            // }
            const formData = new FormData();
            if (uploadThumbnail.files.length > 0) {
                console.log(uploadThumbnail.files[0]);
                formData.append("thumbnail", uploadThumbnail.files[0]);
            }

            console.log("Vao day");
            const currentUrl = window.location.href;
            console.log(currentUrl);
            await fetch("../../api/cloudinary",
                {
                    method: 'POST',
                    body: formData,
                    headers: {
                        "enctype": "multipart/form-data",
                    },
                }).then(res => {
                    if (res.ok) {
                        console.log('Data and gallery images uploaded successfully.');
                        return res.json();
                    } else {
                        console.error('Failed to upload data and gallery images.');

                    }
                    // console.log(res);
                }).then(data => {
                    // Xử lý dữ liệu ở đây
                    console.log(data);
                    if (data.thumbnail !== null) {
                        thumbnail = data.thumbnail;
                        thumbnailState.innerHTML = `Update file: <img src=${thumbnail} alt=${rutgon(files[0].name)}>`;
                        thumbnailState.style.color = `#000000`;
                        thumbnailState.style.fontWeight = "300";
                    }
                    console.log(thumbnail);
                })
                .catch(error => {
                    console.error('Error uploading data and gallery images:', error);
                });
        });
        // Alert
        const alertPlaceholder = document.getElementById('alert')
        const appendAlert = (message, type) => {
            alertPlaceholder.style.display = "block";
            alertPlaceholder.innerHTML = "";
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '</div>'
            ].join('');

            alertPlaceholder.append(wrapper);

            setTimeout(function () {
                alertPlaceholder.style.display = "none";
            }, 5000)
        }
        appendAlert("Loading", "info");
        alertPlaceholder.style.display = "none";

        const alertTrigger = document.getElementById('liveAlertBtn')
        if (alertTrigger) {
            alertTrigger.addEventListener('click', () => {
                appendAlert('Nice, you triggered this alert message!', 'success')
            })
        }
        function rutgon(s) {
            if (s.length < 34) {
                return s;
            }
            else {
                const ans = s.slice(0, 12) + "..." + s.slice(s.length - 18, s.length);
                return ans;
            }
        }

        uploadGallery.addEventListener("change", async (e) => {
            const files = uploadGallery.files;
            console.log(files);

            const formData = new FormData();
            if (uploadGallery.files.length > 0) {
                for (const file of uploadGallery.files) {
                    formData.append("gallery", file);
                }
            }

            await fetch("../../api/cloudinary",
                {
                    method: 'POST',
                    body: formData,
                    headers: {
                        "enctype": "multipart/form-data",
                    },
                }).then(res => {
                    if (res.ok) {
                        console.log('Data and gallery images uploaded successfully.');
                        return res.json();
                    } else {
                        console.error('Failed to upload data and gallery images.');

                    }
                    // console.log(res);
                }).then(data => {
                    // Xử lý dữ liệu ở đây
                    console.log(gallery);
                    console.log(data.gallery);

                    if (data.gallery.length > 0) {
                        const n = gallery.length;
                        gallery.push(...data.gallery);

                        for (let i = 0; i < data.gallery.length; i++) {
                            galleryState.innerHTML += ` <img src=${data.gallery[i]} alt=${rutgon(files[0].name)} class ="image-gallery" id = "gallery${n + i}"> <button id="btn-gallery-${n + i}" type="button" class="btn btn-danger btn-gallery" onclick = "deleteImage(${n + i})">X</button></br>`;
                            // galleryState.innerHTML += `${files[i].name.length}</br>`;
                        }
                        galleryState.innerHTML += "";
                        // #acc6de
                        galleryState.style.color = `#000000`;
                        galleryState.style.fontWeight = "300";
                    }
                    console.log(gallery);
                    uploadGallery.files = [];
                })
                .catch(error => {
                    console.error('Error uploading data and gallery images:', error);
                });

        })
        function deleteImage(index) {
            console.log("Vao day: " + index);

            gallery[index] = -1;
            const image = document.querySelector(`#gallery${index}`);
            const btn = document.querySelector(`#btn-gallery-${index}`);
            image.style.display = "none";
            btn.style.display = "none";
            galleryState.removeChild(image);
            galleryState.removeChild(btn);

        }
        myForm.addEventListener("submit", async function (e) {
            event.preventDefault();
            console.log("Vao day");
            let formData = {};

            formData.name = name.value;
            formData.price = price.value;
            formData.description = description.value;
            formData.discount = discount.value;
            formData.catalogId = catalogId.value;
            formData.manufacturer = manufacturer.value;
            formData.status = status.value;

            if (thumbnail !== null) {
                console.log(thumbnail);
                formData.thumbnail = thumbnail;
            }
            formData.gallery = [];
            if (gallery.length > 0) {
                for (let i = 0; i < gallery.length; i++) {
                    if (gallery[i] !== -1) {
                        formData.gallery.push(gallery[i]);
                    }
                }
            }
            const currentUrl = window.location.href;
            console.log(currentUrl);
            console.log(formData);
            appendAlert("Loading...", "info");
            await fetch(currentUrl,
                {
                    method: 'POST',
                    body: JSON.stringify(formData),
                    headers: {
                        // "enctype": "multipart/form-data",
                        "Content-Type": "application/json",
                    },
                }).then(response => {
                    console.log(response);
                    if (response.ok) {
                        console.log('Data and gallery images uploaded successfully.');
                        appendAlert("Create product successfully", "success");
                    } else {
                        console.error('Failed to upload data and gallery images.');
                        appendAlert("Create product failed", "danger");

                    }
                }).then(data => {
                    console.log(data);
                }).catch(error => {
                    console.error('Error uploading data and gallery images:', error);
                });
        });

    </script>
</body>

</html>