<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter product</title>
    <link rel="stylesheet" href="/css/home_page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/library/noUiSlider-15.7.1/noUiSlider-15.7.1/dist/nouislider.min.js"></script>
    <link rel="stylesheet" href="/library/noUiSlider-15.7.1/noUiSlider-15.7.1/dist/nouislider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="col-lg-1 home_filter">
        <button id="filter_button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path fill="none" d="M7 16H3m26 0H15M29 6h-4m-8 0H3m26 20h-4M7 16a4 4 0 1 0 8 0 4 4 0 0 0-8 0zM17 6a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 20a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 0H3"></path></svg>
            <span>Filters</span>
            
        </button>
    </div> 
    <div class="modal_cus" id="modal_cus0">
        <div class="overlay">
            
        </div>
        <div class="home_filter_page">
            <div class="home_filter_page_content">
                
                <div class="filter_header">
                    <span>Filters</span>
                    <div class="close_filter_button" id="close_filter">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path d="m6 6 20 20M26 6 6 26"></path></svg>

                    </div>
                </div>
                <form action="" method="GET" id="filter_form">
                <div class="filter_price filter_title filter_field_component">
                    <span>
                        Price range
                    </span>
                    
                
                    <div class="price-filter">
                        <div id="price-range"></div>
                        
                        <div class="price_range_input">
                            <div class="price_range_minimum">
                                <span>Minimum</span>
                                <div class="dollar_icon">$</div>
                                <input type="text" class="start-input with-prefix" id="start-input" name="minPrice" placeholder="Min Price">
                            </div>
                            <div class="price_seperate_line"></div>
                            <div class="price_range_maximum">
                                <span>Maximum</span>
                                <div class="dollar_icon">$</div>
                                <input type="text" class="end-input with-prefix" id="end-input" name="maxPrice" placeholder="Max Price">
            
                            </div>
        
                        </div>
                        
                    </div>
                </div>

                <div class="property_type filter_title filter_field_component">
                    <span>Category</span>
                    <div class="checkbox-container">
                        <label class="checkbox-label">
                            <input type="radio" class="image-checkbox" name="catalogId" value="6549da6f03b8de8f3ca12bb9">
                            <div class="checkbox_option">
                                
                                <span>Gym Pants</span>
                            </div>
                        </label>
                        <label class="checkbox-label">
                            <input type="radio" class="image-checkbox" name="catalogId" value="6549da6f03b8de8f3ca12bba">
                            <div class="checkbox_option">
                                
                                <span>Gym T-Shirt</span>
                            </div>
                        </label>
                        <label class="checkbox-label">
                            <input type="radio" class="image-checkbox" name="catalogId" value="6549da6f03b8de8f3ca12bbb">
                            <div class="checkbox_option">
                                
                                <span>Fitness equipment</span>
                            </div>
                        </label>
                        <label class="checkbox-label">
                            <input type="radio" class="image-checkbox" name="catalogId" value="65641e1a9dfd194ab1d33cbb">
                            <div class="checkbox_option">
                                
                                <span>Shoes</span>
                            </div>
                        </label>
                        
                    </div>
                </div>
                <div class="filter_footer">
                    <button type="button" onclick="clearForm()">
                        Clear all
                    </button>
                    
                    <button type="submit">
                        Show places
                    </button>
                </div>
                </form>
            </div>



        </div>
    </div>
    <script>
        const closeFilter = document.getElementById("close_filter");
        const modalCus = document.getElementById("modal_cus0");
        const filterButton = document.getElementById("filter_button");
        closeFilter.addEventListener('click', function() {
            modalCus.style.display = 'none';
        })
        filterButton.addEventListener('click', function(){
            modalCus.style.display = 'block';
        })
    
        document.addEventListener('DOMContentLoaded', function() {
            const startInput = document.getElementById('start-input');
            const endInput = document.getElementById('end-input');
            const priceRange = document.getElementById('price-range');
    
            noUiSlider.create(priceRange, {
                start: [0, 10000000], // Initial range values
                connect: true,   // Connect the handles
                range: {
                    'min': 0,
                    'max': 10000000
                }
            });
    
            // Update inputs when the range slider changes
            priceRange.noUiSlider.on('update', function(values, handle) {
                if (handle === 0) {
                    startInput.value = values[0];
                } else {
                    endInput.value = values[1];
                }
            });
    
            // Update the range slider when inputs change
            startInput.addEventListener('input', function() {
                priceRange.noUiSlider.set([startInput.value, null]);
            });
    
            endInput.addEventListener('input', function() {
                priceRange.noUiSlider.set([null, endInput.value]);
            });
        });
    
    
        function clearForm() {
            var form = document.getElementById("filter_form");
            form.reset();
        }
    
    
        </script>
</body>
</html>