<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="footer">
        <div class="footer_info">
            <div class="payment">
                <div class="payment_title footer_title">
                    Payment method 
                </div>
                <div class="payment_description footer_description">
                    Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam 
                    ti del Eig agues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europa lingues. 
                </div>
                <div class="payment_logo">
                    <img src="images/Mastercard.jpg" alt="">
                    <img src="images/Visa.jpg" alt="">
                    <img src="images/Paypal.jpg" alt="">
                </div>
            </div>
            <div class="get_in_touch">
                <div class="footer_title">
                    Get in touch
                </div>
                <div class="footer_description">
                    227 Nguyen Van Cu #3 <br> District 5, Ho Chi Minh city <br> Phone: (+84) 123-4567 ext#1 <br> FAX: (866) 123-0000 <br> Email: webdesign@gmail.com 
                </div>
            </div>

            <div class="design_details">
                <div class="footer_title">
                    Design details
                </div>
                <div class="footer_description">
                    Lorem ipsum dolor sit amet, consectetuer adipi-scing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 

                </div>
            </div>
            <div class="logo_signature">
                <img src="images/logo.png" alt="">
            </div>

        </div>
        <div class="copyright">
            <div class="copyright_word_container">

                <span class="copyright_1">
                    Copyright © 2023 Target. All rights reserved. Design by
    
                </span>
                
                <span class="copyright_2">
                    NNam
                </span>
            </div>
            <div class="copyright_icon">
                <img src="images/copyright.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>