<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/authStyle/loginCreateForget.css">
    <link rel="stylesheet" href="/authStyle/responsive.css">
    <link rel="stylesheet" href="authStyle/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="alert alert-success  text-center align-items-center">
        Check your email to reset your account
    </div>
    <div class="alert alert-danger  text-center align-items-center">
        gmail is not registered
    </div>
    <div id="page-forget-password" class="">
        <div class="background container">
            <div class="row page-container m-20">
                <div class="col-xs-12 col-md-6">
                    <div class="box-header">
                        <div class="text-header">
                            FORGET PASSWORD
                        </div>
                    </div>
                    <form class="modal-content" action="">


                        <svg height="36" viewBox="0 0 24 22" width="39" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m24 11a11 11 0 0 1 -22 .4l-.3.3a.967.967 0 0 1 -1.4 0 .967.967 0 0 1 0-1.4l2-2a.967.967 0 0 1 1.4 0l2 2a.967.967 0 0 1 0 1.4.908.908 0 0 1 -.7.3.908.908 0 0 1 -.7-.3l-.3-.3a9 9 0 1 0 9-9.4.945.945 0 0 1 -1-1 .945.945 0 0 1 1-1 10.968 10.968 0 0 1 11 11zm-16 5v-5a.945.945 0 0 1 1-1v-1a4 4 0 0 1 8 0v1a.945.945 0 0 1 1 1v5a.945.945 0 0 1 -1 1h-8a.945.945 0 0 1 -1-1zm8-4h-6v3h6zm-5-2h4v-1a2 2 0 0 0 -4 0z" />
                        </svg>

                        <div class="instruction">Enter the email address asociated with your account and we'll send an
                            email
                            with instructions on how to recover your password</div>
                        <div class="input">
                            <i class="ti-email icon"></i><span></span>
                            <div class="input-data">
                                <label for="input-email"></label>
                                <input type="email" id="input-email" name="email">
                            </div>

                        </div>



                        <div class="clearfix">

                            <button type="submit" class="resetPasswordBtn">Reset Password</button>
                        </div>
                        <div class="footer">
                            <div class="account-exist">Already have an account?</div>
                            <button type="button" class="log-in" onclick="redirectToLogin()">Log in</button>

                            <div class="retry">If you cannot receive any emails, try another after</div>
                            <div id="countdown"></div>

                        </div>



                    </form>

                </div>

                <div class=" col-xs-0 col-md-6">
                    <div class="background-img">
                        <div class="welcome-text">
                            <div class="hello">HELLO,</div>
                            <div class="welcome">WELCOME BACK</div>
                        </div>

                        <img class="img" src="authStyle\img\background.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- create account  -->


    <!-- <img src="your_image.jpg" id="clickableImage" alt="Hình ảnh có thể bấm">
    
    <script>
        // Bắt sự kiện khi hình ảnh được bấm
        document.getElementById("clickableImage").addEventListener("click", function() {
            // Chuyển đến trang hoặc tab mới
            window.location.href = "https://www.example.com"; // Thay thế địa chỉ URL bằng trang mà bạn muốn chuyển đến.
        });
    </script> -->


    <!-- <script>
        var cbRemember = document.querySelector(".checkbox-remember")

        cbRemember.addEventListener("change", function () {
            if (cbRemember.checked) {
                // Checkbox đã được chọn
                cbRemember.classList.add("checked");
                console.log(cbRemember)
                console.log("check")
            } else {
                // Checkbox đã bị bỏ chọn
                cbRemember.classList.remove("checked");
                console.log(cbRemember)
                console.log("uncheck")
            }
        });
    </script> -->

    <script>
        const $ = document.querySelector.bind(document)
        const $$ = document.querySelectorAll.bind(document)
        const resetPasswordBtn = document.querySelector('.resetPasswordBtn');
        const countdownElement = document.getElementById('countdown')
        const accountExist = document.querySelector('.account-exist')
        const logIn = document.querySelector('.log-in')
        const retry = document.querySelector('.retry')

        let seconds = 10;
        let countdownInterval;



        const resetPasswordForm = document.querySelector('.modal-content');

        resetPasswordForm.addEventListener("submit", async function (event) {
            // Prevent the default form submission behavior
            event.preventDefault();

            const submitFrom = $('.btn-primary')
            const formData = {
                'email': $('#input-email').value,
            };


            // API call for forgot password
            fetch('/forgot-password', {
                method: 'POST',
                body: JSON.stringify(formData),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                },
            })
                .then(response => {
                    if (!response.ok) {
                        const alertError = $('.alert-danger')


                        alertError.style.opacity = "1";
                        alertError.style.display = "block"

                        setTimeout(function () {
                            alertError.style.opacity = "0";
                            setTimeout(function () {
                                alertError.style.display = "none";
                            }, 500);
                        }, 3000);
                    } else{
                        const alertSuccess = $('.alert-success')
                        console.log(alertSuccess)
                        alertSuccess.style.opacity = "1";
                        alertSuccess.style.display = "block"
                        console.log(alertSuccess)
                        setTimeout(function () {
                            alertSuccess.style.opacity = "0";
                            setTimeout(function () {
                                alertSuccess.style.display = "none";
                            }, 500);
                        }, 3000);
                        resetPasswordBtn.style.display = 'none';
                        accountExist.style.display = 'none';
                        logIn.style.display = 'none';
                        countdownElement.style.display = 'block';
                        retry.style.display = 'block';

                        startCountdown();
                    }
                    return response.json(); // or response.text() depending on the expected data format from the server
                })
                .then(data => {
                    // Handle the response data as needed
                    console.log(data);
                    if (data.success) {
                       
                    } else {
                        // Show error message or perform additional error handling



                    }
                })
                .catch(error => {
                    // Handle errors from the fetch request
                    console.error('Error:', error);
                });

            // Your custom logic here

        });


        // resetPasswordBtn.addEventListener("click", function () {

        //     resetPasswordBtn.style.display = 'none'
        //     accountExist.style.display = 'none'
        //     logIn.style.display = 'none'
        //     countdownElement.style.display = 'block'
        //     retry.style.display = 'block'

        //     startCountdown();
        // })


        function startCountdown() {
            seconds = 10;
            clearInterval(countdownInterval);
            countdownInterval = setInterval(updateCountdown, 1000);
            updateCountdown(); // Cập nhật ngay lúc bắt đầu
        }
        function updateCountdown() {
            countdownElement.innerHTML = seconds + " giây";
            seconds--;

            if (seconds < 0) {

                resetPasswordBtn.style.display = 'block'
                accountExist.style.display = 'block'
                logIn.style.display = 'block'
                countdownElement.style.display = 'none'
                retry.style.display = 'none'
                seconds = 10;
                clearInterval(countdownInterval);
            }
        }
        function redirectToLogin() {
            window.location.href = "./login";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>