<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
    <title>Document</title>
</head>

<body>
    <div id="page-forget-password" class="modal">
        <div class="col col-8 ">
            <img class="img" src="https://omimultimarket.com/inc/style.lib/assets/images/login.png" alt="">
        </div>
        <form class="modal-content" action="">
            <div class="col col-4 ">
                <div class="container">
                    <svg height="36" viewBox="0 0 24 22" width="39" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m24 11a11 11 0 0 1 -22 .4l-.3.3a.967.967 0 0 1 -1.4 0 .967.967 0 0 1 0-1.4l2-2a.967.967 0 0 1 1.4 0l2 2a.967.967 0 0 1 0 1.4.908.908 0 0 1 -.7.3.908.908 0 0 1 -.7-.3l-.3-.3a9 9 0 1 0 9-9.4.945.945 0 0 1 -1-1 .945.945 0 0 1 1-1 10.968 10.968 0 0 1 11 11zm-16 5v-5a.945.945 0 0 1 1-1v-1a4 4 0 0 1 8 0v1a.945.945 0 0 1 1 1v5a.945.945 0 0 1 -1 1h-8a.945.945 0 0 1 -1-1zm8-4h-6v3h6zm-5-2h4v-1a2 2 0 0 0 -4 0z" />
                    </svg>
                    <h1>Forget Password</h1>
                    <div class="instruction">Enter the email address asociated with your account and we'll send an email
                        with instructions on how to recover your password</div>
                    <div class="input">
                        <i class="ti-email icon"></i><span></span>
                        <div class="input-data">
                            <label for="input-email"></label>
                            <div class="text-data">Email Address</div>
                            <input type="email" id="input-email" name="input-email">
                        </div>

                    </div>
                    <div class="clearfix">

                        <button type="submit" class="resetpasswordbtn">Reset Password</button>
                    </div>
                    <div class="footer">
                        <div class="account-exist">Already have an account?</div>
                        <button class="log-in">Log in</button>
                    </div>

                </div>
            </div>
        </form>

    </div>


    <!-- create account  -->


    <!-- <img src="your_image.jpg" id="clickableImage" alt="Hình ảnh có thể bấm">
    
    <script>
        // Bắt sự kiện khi hình ảnh được bấm
        document.getElementById("clickableImage").addEventListener("click", function() {
            // Chuyển đến trang hoặc tab mới
            window.location.href = "https://www.example.com"; // Thay thế địa chỉ URL bằng trang mà bạn muốn chuyển đến.
        });
    </script> -->


    <!-- <script>
        var cbRemember = document.querySelector(".checkbox-remember")

        cbRemember.addEventListener("change", function () {
            if (cbRemember.checked) {
                // Checkbox đã được chọn
                cbRemember.classList.add("checked");
                console.log(cbRemember)
                console.log("check")
            } else {
                // Checkbox đã bị bỏ chọn
                cbRemember.classList.remove("checked");
                console.log(cbRemember)
                console.log("uncheck")
            }
        });
    </script> -->
</body>

</html>