<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        QUÊN MẬT KHẨU?
    </h1>
    <p>Mời bạn nhập email để khôi phục tài khoản</p>
    <form action="" method="POST">
        <label for="test">Email: </label>
        <input type="text" name="email">
        <br>
        <button type="submit"> Gửi</button>
    </form>
</body>

</html>