<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home Page </title>

</head>

<body>
    <form action="/login" method="POST">
        <label class='form-login' for="username">Tên đăng nhập</label> <br />
        <input class='form-login' placeholder="username" type="text" name="username"> <br />
        <label class='form-login' for="password">Mật khẩu</label> <br />
        <input class='form-login' placeholder="password" type="password" name="password"> <br />
        <button class='form-login button' type="submit">Đăng nhập</button>
    </form>
</body>

</html>