<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>

</head>

<body>
    <h1 class="title">Đăng nhập</h1>

    <div class="form-login-1">
        <div class='group-button'>
            <form action="/login" method="POST">
                <label class='form-login' for="username">Tên đăng nhập</label> <br />
                <input id="username" class='box-login' placeholder="username" type="text" name="username"> <br />

                <label class='form-login' for="password">Mật khẩu</label> <br />
                <input id="password" class='box-login' placeholder="password" type="password" name="password"> <br />

                <button id="login" class='form-login button' type="submit">Đăng nhập</button>
                <a id="signup" class='form-login button' type="submit" href="/signup">Đăng ký</a>
                <a id="forgot-password" class='form-login button' type="submit" href="/forgot-password">Quên mật
                    khẩu</a>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/browser-app.js">

    </script>
</body>

</html>