<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <img class="header-logo" src="assets\img\logo.jpg" alt="">
    </div>
    <!-- page-login -->
    <div class="row content pd-0-160">
        <div id="page-login">
            <div class="col col-8">
                <img class="img" src="https://omimultimarket.com/inc/style.lib/assets/images/login.png" alt="">
            </div>

            <div class="col col-4">
                <div class="welcome">Welcome Back</div>
                <div class="instruction">To keep connected with us please login with your
                    personal information by username and password <i class="ti-bell"></i></div>
                <form action="" method="post" id="myForm">
                    <div class="input-content">
                        <div class="input">
                            <i class="ti-user icon"></i><span></span>
                            <div class="input-data">
                                <label for="input-username"></label>
                                <div class="text-data">Username</div>
                                <input type="text" id="input-username" name="input-username">
                            </div>

                        </div>

                        <div class="input">
                            <i class="ti-lock icon"></i>
                            <div class="input-data ">
                                <div class="text-data">Password</div>
                                <label for="input-password"></label>
                                <input type="password" id="input-password" name="input-password">
                            </div>
                        </div>
                        <div class="choose">
                            <label for="checkbox-remember" class="checkbox-container">
                                <input type="checkbox" id="checkbox-remember" name="checkbox-remember">
                                <span class="checkmark"></span>Remember Me
                            </label>



                            <a href="./forgot-password" class="text-data forget-password">Forgot Password?</a>
                        </div>

                        <div class="btn">
                            <button type="button" class="btn-login" onclick="login()">Login Now</button>
                            <button onclick="signup(event)" class="btn-create-account" type="button">Create
                                Account</button>
                        </div>
                </form>
            </div>



            <div class="text-data pd-20-0">Or you can join with</div>
            <!--  -->
            <div class="login-other-method">
                <img class="login-logo" src="assets/img/icons8-google-48.png" alt=""><a href="#"></a></img><img
                    class="login-logo" src="assets\img\icons8-facebook-48.png" alt=""><a href="#"></a></img><img
                    class="login-logo" src="assets\img\icons8-twitter-circled-48.png" alt=""><a href="#"></a></img>
            </div>
        </div>
    </div>
    <script>
        async function abc() {
            console.log("111");
        }
        function signup(event) {
            event.stopPropagation();
            window.location.href = "../signup";

            console.log(document.querySelector("#myForm"));
        }
        async function login() {
            try {
                let username = document.getElementById('input-username').value;
                let password = document.getElementById('input-password').value;

                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username, password }),
                });

                // Clear input fields regardless of the response status
                document.getElementById('input-password').value = "";
                document.getElementById('input-username').value = "";

                console.log(response);

                if (!response.ok) {
                    throw new Error('Login failed');
                }

                console.log(response);
                // Check if the response indicates a successful login and a redirection
                if (response.ok && response.redirected) {
                    window.location.href = response.url;
                    return;
                }

                // Optional: You can handle the data returned from the server if needed
                const data = await response.json();
                console.log(data);

            } catch (error) {
                // Handle login error, e.g., display an error message
                alert("Login failed");
                console.error('Login failed', error);
            }
        }

    </script>
</body>

</html>