<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="assets\responsive.css">
    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <!-- <div class="header">
        <img class="header-logo" src="assets\img\logo.jpg" alt="">
    </div> -->

    <!-- page-login -->


    <div id="page-login">
        <div class="background container">
            <div class="row page-container m-20">
                <div class="col-xs-12 col-md-6">
                    <div class="box-header">
                        <div class="text-header">
                            SIGN IN
                        </div>
                    </div>
                    <!-- <div class="welcome">Welcome Back</div>
                    <div class="instruction">To keep connected with us please login with your
                        personal information by username and password <i class="ti-bell"></i></div> -->
                    <div class="input-content">
                        <!-- thay đổi action ở đây -->
                        <form class="form-login" action="" method="post">
                            <div class="text-data-input">Username</div>
                            <div class="input username">
                                <i class="ti-user icon"></i>
                                <div class="input-data">
                                    <label for="input-username"></label>
                                    <input type="text" id="input-username" name="input-username">
                                </div>

                            </div>
                            <div class="text-data-input">Password</div>
                            <div class="input password">
                                <i class="ti-lock icon"></i>
                                <div class="input-data ">

                                    <label for="input-password"></label>
                                    <input type="password" id="input-password" name="input-password">
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="choose">
                        <label for="checkbox-remember" class="checkbox-container">
                            <input type="checkbox" id="checkbox-remember" name="checkbox-remember">
                            <span class="checkmark"></span>
                            <div class="remember-me">
                                Remember Me
                            </div>
                        </label>
                        <a href="#" class="text-data forget-password">Forget Password?</a>
                    </div>



                    <div class="btn">
                        <button class="btn-login">Login Now</button>
                        <button class="btn-create-account"
                            onclick="document.getElementById('home-page').style.display='none'">Create
                            Account</button>
                    </div>



                    <div class="wrapper-other-method">
                        <div class="line"></div>
                        <div class="text-data border-text">OR YOU CAN JOIN WITH</div>
                        <div class="line"></div>
                    </div>


                    <div class="login-other-method">
                        <img class="login-logo" src="assets/img/icons8-google-48.png" alt=""><a href="#"></a></img>
                        <img class="login-logo" src="assets\img\icons8-facebook-48.png" alt=""><a href="#"></a></img>
                        <img class="login-logo" src="assets\img\icons8-twitter-circled-48.png" alt=""><a
                            href="#"></a></img>
                    </div>
                </div>
                <div class=" col-xs-0 col-md-6">
                    <div class="background-img">
                        <div class="welcome-text">
                            <div class="hello">HELLO,</div>
                            <div class="welcome">WELCOME BACK</div>
                        </div>

                        <img class="img" src="assets\img\background.jpg" alt="">
                    </div>

                </div>
            </div>

        </div>
    </div>




    <!-- <span onclick="document.getElementById('page-create-account').style.display='none'" class="close"
            title="Close Modal"></span> -->
    <!-- create account  -->
    <div id="page-create-account" class="modal">
        <div class="background container">
            <div class="row page-container m-20">
                <div class="col-xs-12 col-md-6">
                    <div class="box-header">
                        <div class="text-header">
                            CREATE ACCOUNT
                        </div>
                    </div>
                    <form class="modal-content " action="">

                        <hr>
                        <div class="text-data-input">Full Name</div>
                        <div class="input full-name">
                            <i class="icon"><img src="assets\img\icons8-name-50.png" alt=""></i>
                            <div class="input-data">
                                <label for="input-full-name"></label>
                                <input type="text" id="input-full-name" name="input-full-name" required>
                            </div>

                        </div>

                        <div class="wraper-input">
                            <div class="text-data-input">Email</div>
                            <div class="input email">
                                <i class="ti-email icon"></i>
                                <div class="input-data">
                                    <label for="input-email"></label>
                                    <input type="text" id="input-email" name="input-email" required>
                                </div>

                            </div>
                            <div class="existed">Email was existed</div>
                        </div>



                        <!-- <label for="phone"><b>Number Phone</b></label>
                        <input type="number" placeholder="Enter Your Number Phone" name="phone" required> -->
                        <div class="wraper-input">
                            <div class="text-data-input">Username</div>
                            <div class="input username">
                                <i class="ti-user icon"></i>
                                <div class="input-data">
                                    <label for="input-username"></label>
                                    <input type="text" id="input-username" name="input-username" required>
                                </div>

                            </div>
                            <div class="existed">Username was existed</div>
                        </div>


                        <div class="text-data-input">Password</div>
                        <div class="input password">
                            <i class="ti-lock icon"></i>
                            <div class="input-data ">

                                <label for="input-password"></label>
                                <input type="password" id="input-password" name="input-password" required>
                            </div>
                        </div>


                        <div class="text-data-input">Confirm Password</div>
                        <div class="input confirm-password">
                            <i class="ti-reload icon"></i>
                            <div class="input-data ">

                                <label for="input-confirm-password"></label>
                                <input type="confirm-password" id="input-confirm-password" name="input-confirm-password"
                                    required>
                            </div>
                        </div>
                        <!-- <div class="text-policy">By creating an account you agree to our <a href="#"
                                style="color:dodgerblue">Terms &
                                Privacy</a>.
                        </div> -->
                        <!-- <div class="choose">
                            <label for="checkbox-accept-policy" class="checkbox-container">
                                <input type="checkbox" id="checkbox-accept-policy" name="checkbox-accept-policy">
                                <span class="checkmark"></span>Agree Policies
                            </label>
                        </div> -->
                        <div class="clearfix">

                            <button type="submit" class="signupbtn">Sign Up</button>
                            <button type="button" class="cancelbtn">Cancel</button>
                        </div>


                    </form>
                </div>

                <div class=" col-xs-0 col-md-6">
                    <div class="background-img">
                        <div class="welcome-text">
                            <div class="hello">HELLO,</div>
                            <div class="welcome">WELCOME BACK</div>
                        </div>

                        <img class="img" src="assets\img\background.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="page-forget-password" class="modal">
        <div class="background container">
            <div class="row page-container m-20">
                <div class="col-xs-12 col-md-6">
                    <div class="box-header">
                        <div class="text-header">
                            FORGET PASSWORD
                        </div>
                    </div>
                    <form class="modal-content" action="">


                        <svg height="36" viewBox="0 0 24 22" width="39" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m24 11a11 11 0 0 1 -22 .4l-.3.3a.967.967 0 0 1 -1.4 0 .967.967 0 0 1 0-1.4l2-2a.967.967 0 0 1 1.4 0l2 2a.967.967 0 0 1 0 1.4.908.908 0 0 1 -.7.3.908.908 0 0 1 -.7-.3l-.3-.3a9 9 0 1 0 9-9.4.945.945 0 0 1 -1-1 .945.945 0 0 1 1-1 10.968 10.968 0 0 1 11 11zm-16 5v-5a.945.945 0 0 1 1-1v-1a4 4 0 0 1 8 0v1a.945.945 0 0 1 1 1v5a.945.945 0 0 1 -1 1h-8a.945.945 0 0 1 -1-1zm8-4h-6v3h6zm-5-2h4v-1a2 2 0 0 0 -4 0z" />
                        </svg>

                        <div class="instruction">Enter the email address asociated with your account and we'll send an
                            email
                            with instructions on how to recover your password</div>
                        <div class="input">
                            <i class="ti-email icon"></i><span></span>
                            <div class="input-data">
                                <label for="input-email"></label>
                                <input type="email" id="input-email" name="input-email">
                            </div>

                        </div>



                        <div class="clearfix">

                            <button type="submit" class="resetPasswordBtn">Reset Password</button>
                        </div>
                        <div class="footer">
                            <div class="account-exist">Already have an account?</div>
                            <button type="button" class="log-in" onclick="redirectToLogin()">Log in</button>

                            <div class="retry">If you cannot receive any emails, try another after</div>
                            <div id="countdown"></div>

                        </div>



                    </form>

                </div>

                <div class=" col-xs-0 col-md-6">
                    <div class="background-img">
                        <div class="welcome-text">
                            <div class="hello">HELLO,</div>
                            <div class="welcome">WELCOME BACK</div>
                        </div>

                        <img class="img" src="assets\img\background.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page forget password -->
    <!-- <div id="page-forget-password" class="modal">
        <div class="col col-8 ">
            <img class="img" src="assets\img\background.jpg" alt="">
        </div> -->


    </div>

    <!-- page-reset-password -->
    <div id="page-reset-password" class="modal">
        <div class="background container">
            <div class="row page-container m-20">
                <div class="col-xs-12 col-md-6">
                    <div class="box-header">
                        <div class="text-header">
                            Reset Password
                        </div>
                    </div>
                    <form class="modal-content" action="">

                        <h1>Reset Password</h1>

                        <hr>

                        <div class="text-data-input">Password</div>
                        <div class="input password">
                            <i class="ti-lock icon"></i>
                            <div class="input-data ">

                                <label for="input-password"></label>
                                <input type="password" id="input-password" name="input-password" required>
                            </div>
                        </div>


                        <div class="text-data-input">Confirm Password</div>
                        <div class="input confirm-password">
                            <i class="ti-reload icon"></i>
                            <div class="input-data ">

                                <label for="input-confirm-password"></label>
                                <input type="confirm-password" id="input-confirm-password" name="input-confirm-password"
                                    required>
                            </div>
                        </div>



                        <div class="clearfix">

                            <button type="submit" class="resetpasswordbtn">Reset Password</button>
                        </div>
                    </form>
                </div>
                <div class=" col-xs-0 col-md-6">
                    <div class="background-img">
                        <div class="welcome-text">
                            <div class="hello">HELLO,</div>
                            <div class="welcome">WELCOME BACK</div>
                        </div>

                        <img class="img" src="assets\img\background.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
    </div>
    <!-- create account  -->


    <!-- <img src="your_image.jpg" id="clickableImage" alt="Hình ảnh có thể bấm">
    
    <script>
        // Bắt sự kiện khi hình ảnh được bấm
        document.getElementById("clickableImage").addEventListener("click", function() {
            // Chuyển đến trang hoặc tab mới
            window.location.href = "https://www.example.com"; // Thay thế địa chỉ URL bằng trang mà bạn muốn chuyển đến.
        });
    </script> -->


    <script>
        var cbRemember = document.querySelector("#checkbox-remember")

     
        var forgetPassword = document.querySelector('.forget-password')
        // var accountExist = document.querySelector('.log-in')
        var createAccountBtn = document.querySelector('.btn .btn-create-account')
        var cancelBtn = document.querySelector('.clearfix .cancelbtn')
        var resetPasswordBtn = document.querySelector('.resetPasswordBtn')


        var pageCreateAccount = document.getElementById('page-create-account')
        var pageForgetPassword = document.getElementById('page-forget-password')
        var pageLogin = document.getElementById('page-login')


        var footerForgetPassword = document.querySelector('#page-forget-password .footer')

        var countdownElement = document.getElementById('countdown')
        var accountExist = document.querySelector('.account-exist')
        var logIn = document.querySelector('.log-in')
        var retry = document.querySelector('.retry')

        var seconds = 3;
        var countdownInterval;

        console.log(retry)


        cancelBtn.addEventListener("click", function () {
            pageCreateAccount.style.display = 'none'
            pageLogin.style.display = 'block'

        })

        logIn.addEventListener("click", function () {
            pageForgetPassword.style.display = 'none'
            pageLogin.style.display = 'block'

        })
        createAccountBtn.addEventListener("click", function () {
            pageLogin.style.display = 'none'
            pageCreateAccount.style.display = 'block'

        })
        forgetPassword.addEventListener("click", function () {
            pageLogin.style.display = 'none'
            pageForgetPassword.style.display = 'block'

        })
        cbRemember.addEventListener("change", function () {
            if (cbRemember.checked) {
                // Checkbox đã được chọn
                cbRemember.classList.add("checked");
                console.log(cbRemember)
                console.log("check")
            } else {
                // Checkbox đã bị bỏ chọn
                cbRemember.classList.remove("checked");
                console.log(cbRemember)
                console.log("uncheck")
            }
        });



        function updateCountdown() {
            countdownElement.innerHTML = seconds + " giây";
            seconds--;

            if (seconds < 0) {

                resetPasswordBtn.style.display = 'block'
                accountExist.style.display = 'block'
                logIn.style.display = 'block'
                countdownElement.style.display = 'none'
                retry.style.display = 'none'
                seconds = 10;
                clearInterval(countdownInterval);
            }
        }

        function startCountdown() {
            seconds = 10;
            clearInterval(countdownInterval);
            countdownInterval = setInterval(updateCountdown, 1000);
            updateCountdown(); // Cập nhật ngay lúc bắt đầu
        }


        resetPasswordBtn.addEventListener("click", function () {
            resetPasswordBtn.style.display = 'none'
            accountExist.style.display = 'none'
            logIn.style.display = 'none'
            countdownElement.style.display = 'block'
            retry.style.display = 'block'
            console.log(countdownElement.style.display)
            startCountdown();
        })

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>