<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assetsOrderDetail/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <ul class="list-data">
            <li>
                <div class="text-data">
                    Order number:
                </div>
                <div class="data">
                    3355
                </div>
            </li>
            <li>
                <div class="text-data">
                    Date:
                </div>
                <div class="data">
                    12/18/2023
                </div>
            </li>
            <li>
                <div class="text-data">
                    Email:
                </div>
                <div class="data">
                    nguyenthai1234cm@gmail.com
                </div>
            </li>
            <li>
                <div class="text-data">
                    Total:
                </div>
                <div class="data">
                    $210.30
                </div>
            </li>
            <li>
                <div class="text-data">
                    Payment method:
                </div>
                <div class="data">
                    Cash on delivery
                </div>
            </li>
        </ul>
        <h1 class="header">
            Order details
        </h1>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Product</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        <div class="name-product">
                            BROOKS MEN'S LAUNCH 9 ROAD-RUNNING SHOES
                        </div>
                        <div class="quantity">
                            × 2
                        </div>
                    </td>
                    <td>$160.00</td>
                </tr>
                <tr>

                    <td>
                        <div class="name-product">
                            FIREFLY STARTER PACK
                        </div>
                        <div class="quantity">
                            × 2
                        </div>
                    </td>
                    <td>$160.00</td>
                </tr>
                <tr>

                    <td>
                        <div class="name-product">
                            GOODR BOSLEY'S BASSET HOUND DREAMS POLARIZED SUNGLASSES
                        </div>
                        <div class="quantity">
                            × 1
                        </div>
                    </td>
                    <td>$160.00</td>
                </tr>
                <tr>

                    <td>
                        Subtotal:
                    </td>
                    <td>
                        $210.30
                    </td>
                </tr>
                <tr>

                    <td>
                        Shipping:
                    </td>
                    <td>
                        Free shipping
                    </td>
                </tr>
                <tr>

                    <td>
                        Payment method:
                    </td>
                    <td>
                        Cash on delivery
                    </td>
                </tr>
                <tr>

                    <td>
                        Total:
                    </td>
                    <td>
                        $210.30
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="row wrapper-address">
            <div class="col-6">
                <h2 class="address-billing">
                    Billing address
                </h2>
                <div class="address">thau thaithaithauthauthau, CA 95843</div>
                <div class="number-phone">
                    1231233123
                </div>
                <div class="email">
                    nguyenthai1234cm@gmail.com
                </div>
            </div>
            <div class="col-6">
                <h2 class="shipping-billing">
                    Shipping address
                </h2>
                <div class="address">
                    thau thaithaithauthauthau, CA 95843
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>