<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <img class="header-logo" src="assets\img\logo.jpg" alt="">
    </div>
    
    <div id="page-reset-password" class="modal">
        <div class="col col-8">
            <img class="img" src="https://omimultimarket.com/inc/style.lib/assets/images/login.png" alt="">
        </div>
        <form class="modal-content" action="">
            <div class="col col-4">
                <div class="container">
                    <h1>Reset Password</h1>

                    <hr>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <label for="psw-repeat"><b>Confirm Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>



                    <div class="clearfix">

                        <button type="submit" class="resetpasswordbtn">Reset Password</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- create account  -->


    <!-- <img src="your_image.jpg" id="clickableImage" alt="Hình ảnh có thể bấm">
    
    <script>
        // Bắt sự kiện khi hình ảnh được bấm
        document.getElementById("clickableImage").addEventListener("click", function() {
            // Chuyển đến trang hoặc tab mới
            window.location.href = "https://www.example.com"; // Thay thế địa chỉ URL bằng trang mà bạn muốn chuyển đến.
        });
    </script> -->


    <!-- <script>
        var cbRemember = document.querySelector(".checkbox-remember")

        cbRemember.addEventListener("change", function () {
            if (cbRemember.checked) {
                // Checkbox đã được chọn
                cbRemember.classList.add("checked");
                console.log(cbRemember)
                console.log("check")
            } else {
                // Checkbox đã bị bỏ chọn
                cbRemember.classList.remove("checked");
                console.log(cbRemember)
                console.log("uncheck")
            }
        });
    </script> -->
</body>

</html>