<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Mời bạn nhập mật khẩu mới cho tài khoản <%= email %>
    </h3>

    <form action="" method="POST">
        <label for="text">Password</label>
        <input type="password" name="password">

        <br>

        <label for="text">Confirm password</label>
        <input type="password" name="password2">

        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>