<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    hello and work with ejsabcdsdsd
    <div>
        <img src="/images/img.PNG">
    </div>
</body>

</html>