<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tìm kiếm</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            text-align: center;
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-input {
            width: 70%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .search-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-left: 10px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">News</a>
        <a class="active" href="/search">Search</a>
    </div>
    <div class="container">
        <h1>Tìm kiếm</h1>
        <div class="search-container">
            <form action="/search/item" method="post">

                <input type="text" name='item' class="search-input" placeholder="Nhập từ khóa tìm kiếm...">
                <button class="search-button">Tìm kiếm</button>

            </form>
        </div>
    </div>
</body>

</html>