<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>SignUp</title>

</head>

<body>
    <h1 class="title">Đăng ký</h1>
    <form class='form-signup' action="/signup" method="POST">
        <label class='form-login' for="username">Tên đăng nhập</label> <br />
        <input class='box-login' placeholder="username" type="text" name="username"> <br />

        <label class='form-login' for="email">Email</label> <br />
        <input class='box-login' placeholder="username@email.com" type="text" name="email"> <br />

        <label class='form-login' for="dateofbirth">Date of birth</label> <br />
        <input class='box-login' type="date" name="dateofbirth"> <br />

        <label class='form-login' for="password">Mật khẩu</label> <br />
        <input class='box-login' placeholder="password" type="password" name="password"> <br />

        <button class='form-login button' type="submit">Đăng ký</button>
    </form>
</body>

</html>