<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update password</title>
    <link rel="stylesheet" href="/css/update_password.css">
</head>

<body>
    <!-- <h1>Cập nhật mật khẩu
    </h1>

    <form action="" method="POST">
        <label for="text">Old password</label>
        <input type="password" name="password">

        <br>

        <label for="text">New password</label>
        <input type="password" name="newPassword">

        <br>
        <label for="text">Confirm password</label>
        <input type="password" name="passwordConfirmation">

        <br>
        <button type="submit">Submit</button>
    </form> -->

    <div class="mainDiv">
        <div class="cardStyle">
            <form action="" method="post">
                
                <img class="logo" src="/images/logo.png"/>
                
                <h2 class="formTitle">
                Update password
                </h2>
            
            <div class="inputDiv">
                <label class="inputLabel" for="password">Old Password</label>
                <input type="password" name="password" required>
            </div>
                
            <div class="inputDiv">
                <label class="inputLabel" for="password">New Password</label>
                <input type="password" name="newPassword" required>
            </div>
                
            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <input type="password" name="passwordConfirmation" required>
            </div>
            
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                <span>Submit</span>
                </button>
            </div>
                
            </form>
        </div>
      </div>
</body>

</html>