<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Cập nhật mật khẩu
    </h1>

    <form action="" method="POST">
        <label for="text">Old password</label>
        <input type="password" name="password">

        <br>

        <label for="text">New password</label>
        <input type="password" name="newPassword">

        <br>
        <label for="text">Confirm password</label>
        <input type="password" name="confirmPassword">

        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>