<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/library/noUiSlider-15.7.1/noUiSlider-15.7.1/dist/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/homepage_cart.css">
    <link rel="stylesheet" href="/css/shopping_cart.css">
</head>
<body>
    <div class="modal_cus_cart" id="modal_cus_cart">
        <div class="overlay">
            
        </div>
        <div class="shopping_cart">
            <div class="shopping_cart_content">
                
                <div class="cart_header">
                    <span>Shopping Cart</span>
                    <div class="close_cart_button" id="close_cart">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path d="m6 6 20 20M26 6 6 26"></path></svg>

                    </div>
                </div>
                <div class="cart_body">
                    <div class="widget_shopping_cart_content"> 
                        <!-- <div class="widget_shopping_cart_content--empty">                      
                            <svg class="emty-cart" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M80.6344 72.6641H33.3641C32.8541 72.6646 32.3525 72.5345 31.907 72.2864C31.4615 72.0383 31.0869 71.6803 30.8188 71.2465C30.5507 70.8127 30.398 70.3176 30.3753 69.8081C30.3526 69.2987 30.4606 68.7919 30.6891 68.336L33.4656 62.7844C33.6401 62.4347 33.678 62.0325 33.5719 61.6563L22.0563 21.361C21.7786 20.4019 21.1977 19.5587 20.4005 18.9575C19.6033 18.3564 18.6328 18.0298 17.6344 18.0266H7.78282C7.36822 18.0266 6.97059 18.1913 6.67742 18.4845C6.38425 18.7777 6.21954 19.1753 6.21954 19.5899C6.21954 20.0045 6.38425 20.4021 6.67742 20.6953C6.97059 20.9885 7.36822 21.1532 7.78282 21.1532H17.6359C17.9554 21.1542 18.2658 21.2587 18.5208 21.4511C18.7758 21.6436 18.9615 21.9135 19.05 22.2204L30.3984 61.9313L27.8922 66.9391C27.4257 67.8717 27.2054 68.9081 27.2523 69.9497C27.2991 70.9914 27.6115 72.0038 28.1598 72.8908C28.7081 73.7777 29.4741 74.5098 30.3849 75.0173C31.2958 75.5249 32.3213 75.7911 33.3641 75.7907H80.6344C81.0488 75.7907 81.4462 75.6261 81.7392 75.333C82.0323 75.04 82.1969 74.6426 82.1969 74.2282C82.1969 73.8138 82.0323 73.4163 81.7392 73.1233C81.4462 72.8303 81.0488 72.6641 80.6344 72.6641Z" fill="#121212"></path>
                                <path d="M93.175 25.3828C92.8884 24.9852 92.5114 24.6615 92.0751 24.4382C91.6388 24.2149 91.1557 24.0984 90.6656 24.0984H27.7266C27.3122 24.0984 26.9147 24.263 26.6217 24.556C26.3287 24.8491 26.1641 25.2465 26.1641 25.6609C26.1641 26.0753 26.3287 26.4727 26.6217 26.7657C26.9147 27.0588 27.3122 27.2234 27.7266 27.2234L90.625 27.1718L85.5781 42.3125H32.9312C32.5168 42.3125 32.1194 42.4771 31.8264 42.7701C31.5334 43.0631 31.3687 43.4606 31.3687 43.875C31.3687 44.2894 31.5334 44.6868 31.8264 44.9798C32.1194 45.2728 32.5168 45.4375 32.9312 45.4375H84.5359L79.5078 60.5234H38.1375C37.7229 60.5234 37.3253 60.6881 37.0321 60.9813C36.7389 61.2744 36.5742 61.6721 36.5742 62.0867C36.5742 62.5013 36.7389 62.8989 37.0321 63.1921C37.3253 63.4852 37.7229 63.6499 38.1375 63.6499H80.6344C80.9624 63.65 81.2822 63.5468 81.5484 63.355C81.8145 63.1632 82.0135 62.8925 82.1172 62.5812L93.5875 28.1671C93.7438 27.7037 93.7879 27.2099 93.7162 26.7261C93.6445 26.2423 93.459 25.7809 93.175 25.3828ZM32.0672 78.7343C21.9781 79.0562 21.9797 93.6843 32.0672 94.0031C42.1562 93.6828 42.1531 79.0515 32.0672 78.7343ZM32.0672 90.8765C30.8716 90.8765 29.7251 90.4016 28.8797 89.5562C28.0343 88.7108 27.5594 87.5642 27.5594 86.3687C27.5594 85.1732 28.0343 84.0266 28.8797 83.1812C29.7251 82.3358 30.8716 81.8609 32.0672 81.8609C33.2627 81.8609 34.4093 82.3358 35.2547 83.1812C36.1001 84.0266 36.575 85.1732 36.575 86.3687C36.575 87.5642 36.1001 88.7108 35.2547 89.5562C34.4093 90.4016 33.2627 90.8765 32.0672 90.8765ZM74.5625 78.7343C64.4734 79.0546 64.475 93.6843 74.5625 94.0031C84.6531 93.6828 84.65 79.0531 74.5625 78.7343ZM74.5625 90.8765C73.367 90.8765 72.2204 90.4016 71.375 89.5562C70.5296 88.7108 70.0547 87.5642 70.0547 86.3687C70.0547 85.1732 70.5296 84.0266 71.375 83.1812C72.2204 82.3358 73.367 81.8609 74.5625 81.8609C75.758 81.8609 76.9046 82.3358 77.75 83.1812C78.5954 84.0266 79.0703 85.1732 79.0703 86.3687C79.0703 87.5642 78.5954 88.7108 77.75 89.5562C76.9046 90.4016 75.758 90.8765 74.5625 90.8765Z" fill="#121212"></path>
                                <path d="M57.8016 15.375C58.216 15.375 58.6134 15.2103 58.9064 14.9173C59.1995 14.6243 59.3641 14.2269 59.3641 13.8125V7.55933C59.3641 7.14492 59.1995 6.7475 58.9064 6.45447C58.6134 6.16145 58.216 5.99683 57.8016 5.99683C57.3872 5.99683 56.9897 6.16145 56.6967 6.45447C56.4037 6.7475 56.2391 7.14492 56.2391 7.55933V13.8125C56.2391 14.2269 56.4037 14.6243 56.6967 14.9173C56.9897 15.2103 57.3872 15.375 57.8016 15.375ZM43.4328 20.4109C43.578 20.5561 43.7503 20.6712 43.94 20.7498C44.1297 20.8284 44.333 20.8688 44.5383 20.8688C44.7436 20.8688 44.9469 20.8284 45.1366 20.7498C45.3262 20.6712 45.4986 20.5561 45.6438 20.4109C45.7889 20.2657 45.9041 20.0934 45.9827 19.9037C46.0612 19.714 46.1017 19.5107 46.1017 19.3054C46.1017 19.1001 46.0612 18.8968 45.9827 18.7071C45.9041 18.5175 45.7889 18.3451 45.6438 18.2L41.2219 13.7796C40.9287 13.4867 40.5311 13.3221 40.1166 13.3223C39.7022 13.3224 39.3047 13.4872 39.0117 13.7804C38.7188 14.0736 38.5542 14.4712 38.5544 14.8857C38.5545 15.3001 38.7193 15.6976 39.0125 15.9906L43.4328 20.4109ZM71.0656 20.8687C71.2708 20.8689 71.4741 20.8286 71.6637 20.75C71.8532 20.6714 72.0254 20.5562 72.1703 20.4109L76.5922 15.989C76.8852 15.6958 77.0497 15.2983 77.0495 14.8838C77.0494 14.4693 76.8846 14.0718 76.5914 13.7789C76.2982 13.4859 75.9007 13.3214 75.4862 13.3215C75.0717 13.3217 74.6742 13.4865 74.3813 13.7796L69.9594 18.2015C69.746 18.4221 69.6018 18.7002 69.5445 19.0017C69.4872 19.3032 69.5194 19.6148 69.6369 19.8983C69.7545 20.1817 69.9524 20.4246 70.2062 20.597C70.4601 20.7695 70.7588 20.8639 71.0656 20.8687Z" fill="#121212"></path>
                            </svg>
                            
                        
                            <h5 class="woocommerce-mini-cart__empty-message">Your cart is curently empty</h5>
                            <h5 class="woocommerce-mini-cart__empty-message">Let up help you find the perfect item</h5>
                        
                            <a class="btn-shop-all" href="/cart">Shop All</a>
                            
                        </div> -->
                                                
                        <!-- <ul class="woocommerce-mini-cart cart_list">

                            <li class="woocommerce-mini-cart-item mini_cart_item">
                                
                                <div class="image">
                                    <a href="https://zunzowp.themesflat.com/product/firefly-starter-pack/">
                                        <img width="200" height="200" src="https://zunzowp.themesflat.com/wp-content/uploads/2023/11/021-1-200x200.webp" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" srcset="https://zunzowp.themesflat.com/wp-content/uploads/2023/11/021-1-200x200.webp 200w, https://zunzowp.themesflat.com/wp-content/uploads/2023/11/021-1-150x150.webp 150w, https://zunzowp.themesflat.com/wp-content/uploads/2023/11/021-1-50x50.webp 50w, https://zunzowp.themesflat.com/wp-content/uploads/2023/11/021-1-100x100.webp 100w, https://zunzowp.themesflat.com/wp-content/uploads/2023/11/021-1-600x600.webp 600w, https://zunzowp.themesflat.com/wp-content/uploads/2023/11/021-1-96x96.webp 96w" sizes="(max-width: 200px) 100vw, 200px">								</a>
                                </div>
                                <div class="title">
                                    <a href="https://zunzowp.themesflat.com/product/firefly-starter-pack/">
                                        FIREFLY STARTER PACK								</a>
                                </div>
        
                                <div class="wrap-remove">
                                <a href="https://zunzowp.themesflat.com/cart/?remove_item=dbbf603ff0e99629dda5d75b6f75f966&amp;_wpnonce=4fa0a06a47" class="remove remove_from_cart_button" aria-label="Remove this item" data-product_id="2695" data-cart_item_key="dbbf603ff0e99629dda5d75b6f75f966" data-product_sku="">Remove</a>							<span class="quantity">1 × <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>10.15</bdi></span></span>
                                </div>
        
                            </li>
                        </ul>      -->
                        <div class="row">
                            <div class="col-md-12 col-lg-12 cart">
                                <div class="row border-top border-bottom">
                                    <div class="row main align-items-center">
                                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                                        <div class="col">
                                            <div class="row text-muted">Shirt</div>
                                            <div class="row">Cotton T-shirt</div>
                                        </div>
                                        <div class="col">
                                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                                        </div>
                                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row main align-items-center">
                                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
                                        <div class="col">
                                            <div class="row text-muted">Shirt</div>
                                            <div class="row">Cotton T-shirt</div>
                                        </div>
                                        <div class="col">
                                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                                        </div>
                                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                                    </div>
                                </div>
                                <div class="row border-top border-bottom">
                                    <div class="row main align-items-center">
                                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>
                                        <div class="col">
                                            <div class="row text-muted">Shirt</div>
                                            <div class="row">Cotton T-shirt</div>
                                        </div>
                                        <div class="col">
                                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                                        </div>
                                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn-shop-all" href="/cart">Shop All</a>
                        </div>

                    </div>

                </div>
                
            </div>



        </div>
    </div>

    <script>
        const closeCart = document.getElementById("close_cart");
        const modal_cart = document.getElementById("modal_cus_cart");
        
        closeCart.addEventListener("click", function(){
            modal_cart.style.display = 'none';
        })
        
    </script>
</body>
</html>