* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;

    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image:
        linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background-repeat: no-repeat;
    background-size: cover;
    /* căn giữa theo trục ngang */
    justify-content: center;
    /* căn giữa theo trục dọc */
    align-items: center;
    animation: theme 12s ease-in-out infinite;
}

@keyframes theme {
    0% {
        background-position: 0% 0%;
    }

    33% {
        background-position: 50% 0%;
    }

    67% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    /* Để các phần tử con căn chỉnh theo trục dọc */
    justify-content: center;
    /* Căn giữa theo trục ngang */
    width: 60vw;
    height: 60vh;
    background: url(https://img.freepik.com/free-photo/modern-tech-background-with-low-poly-plexus_1048-14278.jpg?w=900&t=st=1697440670~exp=1697441270~hmac=64c83909fa5a22072529bcd1068a39da308a218e8dc7b1f5177912905357e202);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 5px 5px;
    text-shadow: 1px 1px 1px #504848;
}

form:hover {
    transition: 0.2s;
    /* transition: 0.2s; */
    width: 60.5vw;
    height: 60.5vh;
    float: inline-start;
}

.form-login {
    width: 80%;
    display: inline;
    margin: 10px;
    color: rgb(5, 5, 4);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;

}

.form-login.button {

    width: 150px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0490cb;
}

.form-login.button:hover {
    background-color: greenyellow;
    transition: 0.3s;
}